@CHARSET "ISO-8859-1";

body {
	font-family: Alike;
	font-size: 10pt;
}

#topright {
	font-size: small;
	float:right;
	text-align:right;
	font-weight:normal;
}

#topBox {
	background-color: #cccccc;
	padding: 0 15px 15px 15px;
	overflow: auto;
	display:inline-block;
	border-radius:8px;
}

#mapid {
	/* to get rounded corners on chrome */
	-webkit-transform: translate3d(0px, 0px, 0px);
	-webkit-mask-image: -webkit-radial-gradient(white, black);
	margin-top: 15px;
	border-radius: 8px;
	width: 700px; 
	height: 380px;
	/* Needed for IE11 otherwise, map hides jquery dialog boxes */
	z-index:0;
}

#simplefieldsDiv {
	padding-right: 15px;
	width:450px;
	float: left;
}

#mapIntersectionsDiv {
/*	background-color: #ff0000; */
    float: left;
}

.fieldBox {
	background-color: #aaaaaa;
	margin-top: 15px;
	padding: 5px 5px 5px 10px;
	border-radius: 8px;
}

/* Tables */

table.intersections {
    border-collapse: collapse;
}

table.intersections th, table.intersections td {
	border: 1px solid black;
	text-align:center;
	background-color:#ffffff;
}

table.intersections td.grey {
    background-color: #dddddd;
}

table.dev td {
	padding:1px;
}

table.dev td.fillCell {
	background-color: #cccccc;
}

/* End Tables */

h3 {
	margin-top: 0px;
	margin-bottom: 7px;
	font-size: 13pt;	
}

.inters-icon {
	background: rgba(255,0,0,0.3);
    border-radius: 25px;	
    text-align: center;
	line-height: 26px;
	font-size: 16pt;
	
}

.inline-block {
	/* another possibility is flex */
	display: inline-block;
    vertical-align: top;    
}

#countyExtentSelect, #selectCountyDev {
	width: 100px;
}

.textWithInput {
	margin: 12px 0px;
}

.emailSubmit {
	margin: 30px 0px 0px 0px;	
}

#popInput, #jobsInput {
	position: absolute; 
	left: 180px;
	width: 70px; 
}

#selectedCountiesAnalysis {
	width: 140px;
	height: 80px;
	margin-bottom: 4px;
}

#selectedCountiesDiv {
	width: 140px;
}


/* Buttons */

#removeCounties {
	text-align: center;
	display: block;
}

#clearDevUnit {
    position: relative;
    left: 280px;
    top: -20px;
}

#addCounty {
}

#submit {
	margin-left: 20px;
}

.button {
   border: 2px solid #999999;
   background: #34a7c1;
   padding: 4px;
   -webkit-border-radius: 7px;
   -moz-border-radius: 7px;
   border-radius: 7px;
   color: #ffffff;
   font-family: Trebuchet, Arial, sans-serif; 
   font-weight: bold;
   text-decoration: none;
   vertical-align: middle;
}

.button:hover {
   border: 2px solid #0a3c59;
   text-shadow: #1e5720 0 1px 0;
   background: #3e779d;
   background: -webkit-gradient(linear, left top, left bottom, from(#65a9d7), to(#3e779d));
   background: -webkit-linear-gradient(top, #65a9d7, #3e779d);
   background: -moz-linear-gradient(top, #65a9d7, #3e779d);
   background: -ms-linear-gradient(top, #65a9d7, #3e779d);
   background: -o-linear-gradient(top, #65a9d7, #3e779d);
   background-image: -ms-linear-gradient(top, #65a9d7 0%, #3e779d 100%);
   color: #fff;
 }

.button:active {
   text-shadow: #1e4158 0 1px 0;
   border: 2px solid #0a3c59;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#3e779d));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   background-image: -ms-linear-gradient(top, #3e779d 0%, #65a9d7 100%);
   color: #fff;
}

/* Info box */

.info2 {
	top: 4px;
	padding: 6px 8px; 
	font: 12px Arial, Helvetica, sans-serif; 
	background: rgba(255,255,255,0.8); 
	box-shadow: 0 0 15px rgba(0,0,0,0.2); 
	border-radius: 5px; 
} 

.info { 
	padding: 6px 8px; 
	font: 14px/16px Arial, Helvetica, sans-serif; 
	background: white; 
	background: rgba(255,255,255,0.8); 
	box-shadow: 0 0 15px rgba(0,0,0,0.2); 
	border-radius: 5px; 
} 
.info h4 { 
	margin: 0 0 5px; 
	color: #777; 
}